<html>
  <head>
    <title>{{ item }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body bgcolor="gray">
    <center>
    <h1>Добро пожаловать на сервер {{ item }}</h1>
  </body>
</html>
